body {
    background-color: var(--frnt-color) !important;
    color: white;
    height: auto;
    margin: 0;
    overflow-x: hidden;

    --bk-color: rgb(0, 0, 0);
    --frnt-color: rgb(255, 255, 255);
}

.center-hor {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.wrapper {
    width: auto;
    height: 100vh;
}

.wrapper.first-impressions {
    height: 118vh;
}
.first-impressions .text-wrap {
    width: 50%;
    height: 50px;
    transform: translate(-50%, -50%);
}
.first-impressions h1 {
    font-family: 'Kumar One', cursive;
    font-size: calc(35px + 1vw);
    color: white;
    line-height: 0%;
    text-align: center;
    user-select: none;
}

.who-i-am {
    background-color: var(--bk-color);
    position: relative;
    height: 700px;
}
.who-i-am .title {
    font-family: 'Arvo', serif;
    font-size: calc(3vw + 15px);
    overflow-x: visible;
    top: calc(60px - 5vw);

    background: var(--frnt-color);
    color: var(--bk-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 3px transparent;
}

.divider {
    position: absolute;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}
.divider.flip {
    transform: translateY(-100%) rotate(180deg);
}
.divider svg {
    position: relative;
    display: block;
    width: calc(119% + 1.3px);
    height: 64px;
}
.divider path {
    fill: var(--bk-color);
}

.tabs {
    position: absolute;
    top: 120px;
}
.tab-right, .tab-left {
    position: relative;
    margin-top: 40px;
    width: 60vw;
    height: 120px;
    background-color: var(--frnt-color);

    line-height: 120px;
    color: var(--bk-color);
    padding-left: 40px;
    padding-right: 40px;

    font-size: calc(1vw + 20px);
    font-family: 'Arvo', serif;
    font-weight: 800;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    white-space: nowrap;
}
.tab-left { float: left; text-align: right; border-top-right-radius: 10px; border-bottom-right-radius: 10px; }
.tab-right { float: right; text-align: left; border-top-left-radius: 10px; border-bottom-left-radius: 10px; }

.conveyor {
    position: absolute;
    top: -20px;
    left: 20px;
    z-index: 0;

    width: 40px;
    height: 130%;

    background-repeat: repeat-y;
    background-image: url("../images/arrow.png");
    background-size: 40px;
    border: none;

    opacity: 1;
    animation: 1s linear 0s infinite conveyor-move;
}
.darker {
    color: rgb(143, 143, 143);
}
img.darker {
    filter: brightness(50%);
}
.rhombus {
    position: absolute;

    width: calc(150px + 10vw);
    height: calc(150px + 10vw);
    background-color: var(--bk-color);
    outline: 5px solid var(--bk-color);
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: -1;
    user-select: none;
}
.rhombus.animator {
    animation: rhombus-pulse 2s linear 0s infinite;
}



@keyframes conveyor-move {
    from { top: -40px }
    to { top: 0px };
}
@keyframes rhombus-pulse {
    0% {
        width: calc(150px + 10vw);
        height: calc(150px + 10vw);
        outline-color: var(--bk-color);
        background-color: transparent;
    }
    80% {
        width: calc(200px + 11vw);
        height: calc(200px + 11vw);
        outline-color: transparent;
        background-color: transparent;
    }
    100% {
        width: calc(200px + 11vw);
        height: calc(200px + 11vw);
        outline-color: transparent;
        background-color: transparent;
    }
}

@media screen and (max-width: 600px) {
    .conveyor {
        display: none;
    }
}