body {
    background-color: black;
}

h1 {
    padding-top: 20vh;
    text-align: center;
    color: white;
    font-family: 'BIZ UDMincho', serif;
}
h2 {
    text-align: center;
    color: rgb(176, 176, 176);
    font-family: 'BIZ UDMincho', serif;
}